extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.portfolio-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 Galeria Saneamiento
            ul
              li
                a(href='index.html') inicio
              li
                span -
              li
                span Fotos
  // PAGE CONTENT START
  section.page-content
    .container.page-content-wrapper
      .row
        .col-lg-12
          .portfolio-wrapper
            .portfolio-list.grid
              .item.web
                .portfolio-holder.scale-big.animate-in
                  img.img-responsive(src='assets/images/fotos/img2.jpg', alt='portfolio-img')
              .item.web
                .portfolio-holder.scale-big.animate-in
                  img.img-responsive(src='assets/images/fotos/img4.jpg', alt='portfolio-img')
              .item.web
                .portfolio-holder.scale-big.animate-in
                  img.img-responsive(src='assets/images/fotos/img6.jpg', alt='portfolio-img')

              .item.web
                .portfolio-holder.scale-big.animate-in
                  img.img-responsive(src='assets/images/fotos/img7.jpg', alt='portfolio-img')

              .item.web
                .portfolio-holder.scale-big.animate-in
                  img.img-responsive(src='assets/images/fotos/img9.jpg', alt='portfolio-img')
                    
