extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.portfolio-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 Galeria
            ul
              li
                a(href='index.html') inicio
              li
                span -
              li
                span Fotos
  // PAGE CONTENT START
  section.page-content
    .container.page-content-wrapper
      .row
        .col-lg-12
          .portfolio-wrapper
            .portfolio-list.grid
              .item.web
                .portfolio-holder.scale-big.animate-in
                  figure.imghvr-shutter-out-vert
                    img.img-responsive(src='assets/slider/images/slide-1.jpg', alt='portfolio-img')
                    figcaption
                      .table
                        .table-row
                          .table-cell.text-center.align-middle
                            .title ELECTRICIDAD
                            a.btn.transparent.mt20(href='/galeria1') VER FOTOS
                            //a.lightbox(data-lightbox='1', href='assets/images/galeria/1.jpg')
                              i.fa.fa-plus
              .item.web
                .portfolio-holder.scale-big.animate-in
                  figure.imghvr-shutter-out-vert
                    img.img-responsive(src='assets/images/fotos/img3.jpg', alt='portfolio-img')
                    figcaption
                      .table
                        .table-row
                          .table-cell.text-center.align-middle
                            .title TELECOMUNICACIONES
                            a.btn.transparent.mt20(href='/galeria2') VER FOTOS
              .item.web
                .portfolio-holder.scale-big.animate-in
                  figure.imghvr-shutter-out-vert
                    img.img-responsive(src='assets/images/servicios/15.jpg', alt='portfolio-img')
                    figcaption
                      .table
                        .table-row
                          .table-cell.text-center.align-middle
                            .title CONTROL Y AUTOMATIZACION
                            a.btn.transparent.mt20(href='/galeria3') VER FOTOS
              .item.web
                .portfolio-holder.scale-big.animate-in
                  figure.imghvr-shutter-out-vert
                    img.img-responsive(src='assets/images/servicios/12.jpg', alt='portfolio-img')
                    figcaption
                      .table
                        .table-row
                          .table-cell.text-center.align-middle
                            .title SANEAMIENTO
                            a.btn.transparent.mt20(href='/galeria4') VER FOTOS
            
  // PAGE CONTENT END
  // TESTIMONIALS SECTION START
 
