extends ../layout/home.pug

block view
  // HEADER END
  section.rider-slider
    // Nextend Smart Slider 3 #10 - BEGIN
    #n2-ss-10-align.n2-ss-align
      .n2-padding
        #n2-ss-10.n2-ss-slider.n2-ow.n2-has-hover.n2notransition.n2-ss-load-fade(data-minfontsizedesktopportrait='1', data-minfontsizedesktoplandscape='1', data-minfontsizetabletportrait='1', data-minfontsizetabletlandscape='1', data-minfontsizemobileportrait='1', data-minfontsizemobilelandscape='1', style='font-size: 16px;', data-fontsize='16')
          .n2-ss-slider-1.n2-ss-swipe-element.n2-ow(style='')
            .n2-ss-slider-2.n2-ow
              .n2-ss-slider-3.n2-ow(style='')
                .n2-ss-slide-backgrounds

                .n2-ss-slide.n2-ss-canvas.n2-ow.n2-ss-slide-44(data-slide-duration='0', data-id='44', style='')
                  .n2-ss-slide-background.n2-ow(data-hash='af60735f9e3b09bc4f2d9b74c5182f31', data-desktop='assets/slider/images/slide-1.jpg', data-opacity='1', data-blur='0', data-mode='fill', data-x='50', data-y='50')
                    .n2-ss-slide-background-mask(style='')
                      img(title='', src='assets/slider/images/slide-1.jpg', alt='')
                  .n2-ss-layers-container.n2-ow(data-csstextalign='center', style='')
                    .n2-ss-section-outer(style='')
                      .n2-ss-layer.n2-ow.n2-ss-has-maxwidth(style='max-width: 1140px;overflow:;', data-csstextalign='inherit', data-desktopportraitmaxwidth='1140', data-tabletportraitmaxwidth='0', data-mobileportraitmaxwidth='0', data-cssselfalign='inherit', data-desktopportraitselfalign='inherit', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-pm='content', data-desktopportraitpadding='10|*|5|*|10|*|5|*|px+', data-tabletportraitpadding='10|*|5|*|10|*|5|*|px+', data-mobileportraitpadding='40|*|0|*|40|*|0|*|px+', data-desktopportraitinneralign='inherit', data-tabletportraitinneralign='left', data-mobileportraitinneralign='inherit', data-type='content', data-rotation='0', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-plugin='rendered')
                        .n2-ss-section-main-content.n2-ss-layer-content.n2-ow(style='padding:0.625em 0.3125em 0.625em 0.3125em ;', data-verticalalign='center')
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJsb29wUmVwZWF0U2VsZk9ubHkiOm51bGwsImluIjpbeyJuYW1lIjoiUmlnaHQgZmFkZSIsIm9wYWNpdHkiOjAsIngiOi00MDB9XX0=', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='80', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-e26f9fc0e4aacb0192eeeef97f36705d-paragraph.n2-ow 
                          .n2-ss-layer.n2-ow(style='margin:0.234375em 0.234375em 0.234375em 0.234375em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJsb29wUmVwZWF0U2VsZk9ubHkiOm51bGwsImluIjpbeyJuYW1lIjoiUmlnaHQgZmFkZSIsImRlbGF5IjowLjE1LCJvcGFjaXR5IjowLCJ4IjotNDAwfV19', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='80', data-mobileportraitfontsize='70', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-aa1ba26b83562056399325c10147b659-paragraph.n2-ow 
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJsb29wUmVwZWF0U2VsZk9ubHkiOm51bGwsImluIjpbeyJuYW1lIjoiUmlnaHQgZmFkZSIsImRlbGF5IjowLjMsIm9wYWNpdHkiOjAsIngiOi00MDB9XX0=', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='70', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-d71adf8a9c102589b064fa239972a143-paragraph.n2-ow ELECTRICIDAD
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJpbiI6W3sibmFtZSI6IlJpZ2h0IGZhZGUiLCJkZWxheSI6MC40NSwib3BhY2l0eSI6MCwieCI6LTQwMH1dfQ==', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='80', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-e26f9fc0e4aacb0192eeeef97f36705d-paragraph.n2-ow Soluciones en Electricidad
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJpbiI6W3sibmFtZSI6IlJpZ2h0IGZhZGUiLCJkZWxheSI6MC41LCJvcGFjaXR5IjowLCJ4IjotNDAwfV19', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='0', data-desktopportraitfontsize='100', data-plugin='rendered')
                            .n2-ss-button-container.n2-ow.n2-font-2ef065763e81746d53de289375cb8532-link.n2-ss-nowrap
                              a.n2-style-bfd939fac37975aea40e94c2b59db6f6-heading.n2-ow(href='solutions-electricity')
                                span
                                  span Ver mas
                

               
                .n2-ss-slide.n2-ss-canvas.n2-ow.n2-ss-slide-44(data-slide-duration='0', data-id='44', style='')
                  .n2-ss-slide-background.n2-ow(data-hash='af60735f9e3b09bc4f2d9b74c5182f31', data-desktop='assets/images/fotos/img3.jpg', data-opacity='1', data-blur='0', data-mode='fill', data-x='50', data-y='50')
                    .n2-ss-slide-background-mask(style='')
                      img(title='', src='assets/images/fotos/img3.jpg', alt='')
                  .n2-ss-layers-container.n2-ow(data-csstextalign='center', style='')
                    .n2-ss-section-outer(style='')
                      .n2-ss-layer.n2-ow.n2-ss-has-maxwidth(style='max-width: 1140px;overflow:;', data-csstextalign='inherit', data-desktopportraitmaxwidth='1140', data-tabletportraitmaxwidth='0', data-mobileportraitmaxwidth='0', data-cssselfalign='inherit', data-desktopportraitselfalign='inherit', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-pm='content', data-desktopportraitpadding='10|*|5|*|10|*|5|*|px+', data-tabletportraitpadding='10|*|5|*|10|*|5|*|px+', data-mobileportraitpadding='40|*|0|*|40|*|0|*|px+', data-desktopportraitinneralign='inherit', data-tabletportraitinneralign='left', data-mobileportraitinneralign='inherit', data-type='content', data-rotation='0', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-plugin='rendered')
                        .n2-ss-section-main-content.n2-ss-layer-content.n2-ow(style='padding:0.625em 0.3125em 0.625em 0.3125em ;', data-verticalalign='center')
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJsb29wUmVwZWF0U2VsZk9ubHkiOm51bGwsImluIjpbeyJuYW1lIjoiUmlnaHQgZmFkZSIsIm9wYWNpdHkiOjAsIngiOi00MDB9XX0=', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='80', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-e26f9fc0e4aacb0192eeeef97f36705d-paragraph.n2-ow 
                          .n2-ss-layer.n2-ow(style='margin:0.234375em 0.234375em 0.234375em 0.234375em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJsb29wUmVwZWF0U2VsZk9ubHkiOm51bGwsImluIjpbeyJuYW1lIjoiUmlnaHQgZmFkZSIsImRlbGF5IjowLjE1LCJvcGFjaXR5IjowLCJ4IjotNDAwfV19', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='80', data-mobileportraitfontsize='70', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-aa1ba26b83562056399325c10147b659-paragraph.n2-ow 
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJsb29wUmVwZWF0U2VsZk9ubHkiOm51bGwsImluIjpbeyJuYW1lIjoiUmlnaHQgZmFkZSIsImRlbGF5IjowLjMsIm9wYWNpdHkiOjAsIngiOi00MDB9XX0=', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='70', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-d71adf8a9c102589b064fa239972a143-paragraph.n2-ow TELECOMUNICACIONES
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJpbiI6W3sibmFtZSI6IlJpZ2h0IGZhZGUiLCJkZWxheSI6MC40NSwib3BhY2l0eSI6MCwieCI6LTQwMH1dfQ==', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='80', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-e26f9fc0e4aacb0192eeeef97f36705d-paragraph.n2-ow Proyectos en Telecomunicaciones
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJpbiI6W3sibmFtZSI6IlJpZ2h0IGZhZGUiLCJkZWxheSI6MC41LCJvcGFjaXR5IjowLCJ4IjotNDAwfV19', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='0', data-desktopportraitfontsize='100', data-plugin='rendered')
                            .n2-ss-button-container.n2-ow.n2-font-2ef065763e81746d53de289375cb8532-link.n2-ss-nowrap
                              a.n2-style-bfd939fac37975aea40e94c2b59db6f6-heading.n2-ow( href='solutions-teleco')
                                span
                                  span Ver mas
                
                .n2-ss-slide.n2-ss-canvas.n2-ow.n2-ss-slide-44(data-slide-duration='0', data-id='44', style='')
                  .n2-ss-slide-background.n2-ow(data-hash='af60735f9e3b09bc4f2d9b74c5182f31', data-desktop='assets/images/servicios/15.jpg', data-opacity='1', data-blur='0', data-mode='fill', data-x='50', data-y='50')
                    .n2-ss-slide-background-mask(style='')
                      img(title='', src='assets/images/servicios/15.jpg', alt='')
                  .n2-ss-layers-container.n2-ow(data-csstextalign='center', style='')
                    .n2-ss-section-outer(style='')
                      .n2-ss-layer.n2-ow.n2-ss-has-maxwidth(style='max-width: 1140px;overflow:;', data-csstextalign='inherit', data-desktopportraitmaxwidth='1140', data-tabletportraitmaxwidth='0', data-mobileportraitmaxwidth='0', data-cssselfalign='inherit', data-desktopportraitselfalign='inherit', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-pm='content', data-desktopportraitpadding='10|*|5|*|10|*|5|*|px+', data-tabletportraitpadding='10|*|5|*|10|*|5|*|px+', data-mobileportraitpadding='40|*|0|*|40|*|0|*|px+', data-desktopportraitinneralign='inherit', data-tabletportraitinneralign='left', data-mobileportraitinneralign='inherit', data-type='content', data-rotation='0', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-plugin='rendered')
                        .n2-ss-section-main-content.n2-ss-layer-content.n2-ow(style='padding:0.625em 0.3125em 0.625em 0.3125em ;', data-verticalalign='center')
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJsb29wUmVwZWF0U2VsZk9ubHkiOm51bGwsImluIjpbeyJuYW1lIjoiUmlnaHQgZmFkZSIsIm9wYWNpdHkiOjAsIngiOi00MDB9XX0=', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='80', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-e26f9fc0e4aacb0192eeeef97f36705d-paragraph.n2-ow 
                          .n2-ss-layer.n2-ow(style='margin:0.234375em 0.234375em 0.234375em 0.234375em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJsb29wUmVwZWF0U2VsZk9ubHkiOm51bGwsImluIjpbeyJuYW1lIjoiUmlnaHQgZmFkZSIsImRlbGF5IjowLjE1LCJvcGFjaXR5IjowLCJ4IjotNDAwfV19', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='80', data-mobileportraitfontsize='70', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-aa1ba26b83562056399325c10147b659-paragraph.n2-ow 
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJsb29wUmVwZWF0U2VsZk9ubHkiOm51bGwsImluIjpbeyJuYW1lIjoiUmlnaHQgZmFkZSIsImRlbGF5IjowLjMsIm9wYWNpdHkiOjAsIngiOi00MDB9XX0=', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='70', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-d71adf8a9c102589b064fa239972a143-paragraph.n2-ow CONTROL Y
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJsb29wUmVwZWF0U2VsZk9ubHkiOm51bGwsImluIjpbeyJuYW1lIjoiUmlnaHQgZmFkZSIsImRlbGF5IjowLjMsIm9wYWNpdHkiOjAsIngiOi00MDB9XX0=', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='70', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-d71adf8a9c102589b064fa239972a143-paragraph.n2-ow AUTOMATIZACION
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJpbiI6W3sibmFtZSI6IlJpZ2h0IGZhZGUiLCJkZWxheSI6MC40NSwib3BhY2l0eSI6MCwieCI6LTQwMH1dfQ==', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='80', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-e26f9fc0e4aacb0192eeeef97f36705d-paragraph.n2-ow Control y Automatizacion
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJpbiI6W3sibmFtZSI6IlJpZ2h0IGZhZGUiLCJkZWxheSI6MC41LCJvcGFjaXR5IjowLCJ4IjotNDAwfV19', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='0', data-desktopportraitfontsize='100', data-plugin='rendered')
                            .n2-ss-button-container.n2-ow.n2-font-2ef065763e81746d53de289375cb8532-link.n2-ss-nowrap
                              a.n2-style-bfd939fac37975aea40e94c2b59db6f6-heading.n2-ow( href='solutions-control')
                                span
                                  span Ver mas
                
                .n2-ss-slide.n2-ss-canvas.n2-ow.n2-ss-slide-44(data-slide-duration='0', data-id='44', style='')
                  .n2-ss-slide-background.n2-ow(data-hash='af60735f9e3b09bc4f2d9b74c5182f31', data-desktop='assets/images/servicios/12.jpg', data-opacity='1', data-blur='0', data-mode='fill', data-x='50', data-y='50')
                    .n2-ss-slide-background-mask(style='')
                      img(title='', src='assets/images/servicios/12.jpg', alt='')
                  .n2-ss-layers-container.n2-ow(data-csstextalign='center', style='')
                    .n2-ss-section-outer(style='')
                      .n2-ss-layer.n2-ow.n2-ss-has-maxwidth(style='max-width: 1140px;overflow:;', data-csstextalign='inherit', data-desktopportraitmaxwidth='1140', data-tabletportraitmaxwidth='0', data-mobileportraitmaxwidth='0', data-cssselfalign='inherit', data-desktopportraitselfalign='inherit', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-pm='content', data-desktopportraitpadding='10|*|5|*|10|*|5|*|px+', data-tabletportraitpadding='10|*|5|*|10|*|5|*|px+', data-mobileportraitpadding='40|*|0|*|40|*|0|*|px+', data-desktopportraitinneralign='inherit', data-tabletportraitinneralign='left', data-mobileportraitinneralign='inherit', data-type='content', data-rotation='0', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-plugin='rendered')
                        .n2-ss-section-main-content.n2-ss-layer-content.n2-ow(style='padding:0.625em 0.3125em 0.625em 0.3125em ;', data-verticalalign='center')
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJsb29wUmVwZWF0U2VsZk9ubHkiOm51bGwsImluIjpbeyJuYW1lIjoiUmlnaHQgZmFkZSIsIm9wYWNpdHkiOjAsIngiOi00MDB9XX0=', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='80', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-e26f9fc0e4aacb0192eeeef97f36705d-paragraph.n2-ow 
                          .n2-ss-layer.n2-ow(style='margin:0.234375em 0.234375em 0.234375em 0.234375em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJsb29wUmVwZWF0U2VsZk9ubHkiOm51bGwsImluIjpbeyJuYW1lIjoiUmlnaHQgZmFkZSIsImRlbGF5IjowLjE1LCJvcGFjaXR5IjowLCJ4IjotNDAwfV19', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='80', data-mobileportraitfontsize='70', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-aa1ba26b83562056399325c10147b659-paragraph.n2-ow 
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJsb29wUmVwZWF0U2VsZk9ubHkiOm51bGwsImluIjpbeyJuYW1lIjoiUmlnaHQgZmFkZSIsImRlbGF5IjowLjMsIm9wYWNpdHkiOjAsIngiOi00MDB9XX0=', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='70', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-d71adf8a9c102589b064fa239972a143-paragraph.n2-ow SANEAMIENTO
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJpbiI6W3sibmFtZSI6IlJpZ2h0IGZhZGUiLCJkZWxheSI6MC40NSwib3BhY2l0eSI6MCwieCI6LTQwMH1dfQ==', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='80', data-plugin='rendered')
                            .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                              p.n2-font-e26f9fc0e4aacb0192eeeef97f36705d-paragraph.n2-ow Saneamiento
                          .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJpbiI6W3sibmFtZSI6IlJpZ2h0IGZhZGUiLCJkZWxheSI6MC41LCJvcGFjaXR5IjowLCJ4IjotNDAwfV19', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='0', data-desktopportraitfontsize='100', data-plugin='rendered')
                            .n2-ss-button-container.n2-ow.n2-font-2ef065763e81746d53de289375cb8532-link.n2-ss-nowrap
                              a.n2-style-bfd939fac37975aea40e94c2b59db6f6-heading.n2-ow(href='solutions-sanea')
                                span
                                  span Ver mas
                
            #n2-ss-10-arrow-previous.n2-ss-widget.n2-ss-widget-display-desktop.n2-ss-widget-display-tablet.n2-ss-widget-display-mobile.nextend-arrow.n2-ib.n2-ow.nextend-arrow-previous.nextend-arrow-animated-fade(data-ssleft='0+15', data-sstop='height/2-previousheight/2', style='position: absolute;', role='button', aria-label='Previous slide', tabindex='0')
              img.n2-ow(data-no-lazy='1', data-hack='data-lazy-src', src='data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTEuNDMzIDE1Ljk5MkwyMi42OSA1LjcxMmMuMzkzLS4zOS4zOTMtMS4wMyAwLTEuNDItLjM5My0uMzktMS4wMy0uMzktMS40MjMgMGwtMTEuOTggMTAuOTRjLS4yMS4yMS0uMy40OS0uMjg1Ljc2LS4wMTUuMjguMDc1LjU2LjI4NC43N2wxMS45OCAxMC45NGMuMzkzLjM5IDEuMDMuMzkgMS40MjQgMCAuMzkzLS40LjM5My0xLjAzIDAtMS40MmwtMTEuMjU3LTEwLjI5IiBmaWxsPSIjZmZmZmZmIiBvcGFjaXR5PSIwLjgiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==', alt='Arrow')
            #n2-ss-10-arrow-next.n2-ss-widget.n2-ss-widget-display-desktop.n2-ss-widget-display-tablet.n2-ss-widget-display-mobile.nextend-arrow.n2-ib.n2-ow.nextend-arrow-next.nextend-arrow-animated-fade(data-ssright='0+15', data-sstop='height/2-nextheight/2', style='position: absolute;', role='button', aria-label='Next slide', tabindex='0')
              img.n2-ow(data-no-lazy='1', data-hack='data-lazy-src', src='data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAuNzIyIDQuMjkzYy0uMzk0LS4zOS0xLjAzMi0uMzktMS40MjcgMC0uMzkzLjM5LS4zOTMgMS4wMyAwIDEuNDJsMTEuMjgzIDEwLjI4LTExLjI4MyAxMC4yOWMtLjM5My4zOS0uMzkzIDEuMDIgMCAxLjQyLjM5NS4zOSAxLjAzMy4zOSAxLjQyNyAwbDEyLjAwNy0xMC45NGMuMjEtLjIxLjMtLjQ5LjI4NC0uNzcuMDE0LS4yNy0uMDc2LS41NS0uMjg2LS43NkwxMC43MiA0LjI5M3oiIGZpbGw9IiNmZmZmZmYiIG9wYWNpdHk9IjAuOCIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+', alt='Arrow')
        .n2-clear
        #n2-ss-10-spinner(style='display: none;')
          div
            .n2-ss-spinner-simple-white-container
              .n2-ss-spinner-simple-white
    #n2-ss-10-placeholder(style='position: relative;z-index:2;')
      img.n2-ow(style='width: 100%; max-width:3000px; display: block;', src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMCIgd2lkdGg9IjE5MjAiIGhlaWdodD0iNzAwIiA+PC9zdmc+', alt='Slider')



  section#services.section-wrapper.gray-background
    .container
      .row
        .col-lg-12.heding-wrapper.text-center.scale-less.animate-in
          span SERVICIOS
          h2 NUESTROS SERVICIOS
          span.spliter
      ul.row.services-container
        li.col-lg-4.col-md-4.col-sm-6.col-xs-12
          figure.imghvr-shutter-out-horiz
            img.img-responsive(src='assets/images/servicios/14.jpg', alt='service1')
            figcaption.info
              .table
                .table-row
                  .table-cell.text-center.align-middle
                    .subtitle
                    .title ELECTRICIDAD
                    .description Diseño, ingeniería, instalacion, pruebas y puesta en servicio de los sitemas de media tension (transformadores y electro ductos).
                    a.btn.transparent.mt20(href='solutions-electricity') Ves Mas
        li.col-lg-4.col-md-4.col-sm-6.col-xs-12
          figure.imghvr-shutter-out-horiz
            img.img-responsive(src='assets/images/servicios/15.jpg', alt='service2')
            figcaption.info
              .table
                .table-row
                  .table-cell.text-center.align-middle
                    .subtitle
                    .title AUTOMATIZACION
                    .description Diseño, ingeniería, instalacion, pruebas y puesta en servicio de los sitemas de media tension (transformadores y electro ductos).
                    a.btn.transparent.mt20(href='solutions-control') Ves Mas
        li.col-lg-4.col-md-4.col-sm-6.col-xs-12
          figure.imghvr-shutter-out-horiz
            img.img-responsive(src='assets/images/servicios/16.jpg', alt='service3')
            figcaption.info
              .table
                .table-row
                  .table-cell.text-center.align-middle
                    .subtitle 
                    .title TELECOMUNICACIONES
                    .description Diseño, ingeniería, instalacion, pruebas y puesta en servicio de los sitemas de media tension (transformadores y electro ductos).
                    a.btn.transparent.mt20(href='solutions-teleco') Ves Mas
        li.col-lg-4.col-md-4.col-sm-6.col-xs-12
          figure.imghvr-shutter-out-horiz
            img.img-responsive(src='assets/images/servicios/17.jpg', alt='service4')
            figcaption.info
              .table
                .table-row
                  .table-cell.text-center.align-middle
                    .subtitle 
                    .title SANEAMIENTO
                    .description Diseño, ingeniería, instalacion, pruebas y puesta en servicio de los sitemas de media tension (transformadores y electro ductos).
                    a.btn.transparent.mt20(href='solutions-sanea') Ves Mas
        
  
  section#portfolio.section-wrapper.gray-background.pb60
    .container
      .row
        .col-lg-12.heding-wrapper.text-center.scale-less.animate-in
          span Marcas
          h2 SOLUCIONES EN MARCAS
          span.spliter
    .portfolio-wrapper
      .portfolio-list.grid
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/ABB.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle  
                      .title ABB
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/ALLEN_BRADLEY.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title ALLEN BRADLEY
        .item.photos
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/SIEMENS.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title SIEMENS
        .item.print
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/RITTAL.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .title RITTAL
                      .description 
                      
        .item.web
          .view.view-fourth
            figure.imghvr-shutter-out-vert
              img.img-responsive(alt='portfolio-img', src='assets/images/ROCKWELL.png')
              figcaption.mask
                .table
                  .table-row
                    .table-cell.text-center.align-middle
                      .subtitle 
                      .title ROCKWELL
        

    .clearfix
  section#contact.section-wrapper.contact-background.parallax(data-stellar-background-ratio='0.1', style='background-image: url(assets/images/contact-bg.jpg);')
    .overlay
      .container
        .row
          .col-lg-12.heding-wrapper.text-center.scale-less.animate-in
            
            h2 CONTACTANOS
            span.spliter
        .row
          .col-lg-4.col-md-5.col-sm-5.col-xs-12.col-sm-push-7
            .contact-holder
              .detail-holder.table
                .table-row
                  .left-detail.table-cell.align-middle
                    span.scale-big.animate-in
                      i.fa.fa-map-marker
                    .clearfix
                    span.small-spliter.animate-in.spliter
                  .right-detail.table-cell.align-middle
                    span  Cal.Coronel Miguel Rios N°1794 - Urb:Cata
              .detail-holder.table
                .table-row
                  .left-detail.table-cell.align-middle
                    span.scale-big.animate-in
                      i.fa.fa-envelope-o
                    .clearfix
                    span.small-spliter.animate-in.spliter
                  .right-detail.table-cell.align-middle
                    span
                      a(href='mailto:info@ingenieriamvd.com') info@ingenieriamvd.com
              .detail-holder.table
                .table-row
                  .left-detail.table-cell.align-middle
                    span.scale-big.animate-in
                      i.fa.fa-phone
                    .clearfix
                    span.small-spliter.animate-in.spliter
                  .right-detail.table-cell.align-middle
                    span
                      | (01) 528-4005
          .col-lg-7.col-md-7.col-sm-7.col-xs-12.col-lg-offset-1.col-sm-pull-5

               
            form(action="addMessage", method="post")
              input(hidden type='text' value='true' name='habilitacionmvd')
                          
              div.form-group
                label(style="color:white") Nombres y Apellidos *
                input.form-control(type='text', name='namemvd', required='')
              div.form-group
                label(style="color:white") Email *
                input.form-control(type='email', name='emailmvd', required='')
              div.form-group
                label(style="color:white") Mensaje *
                textarea.form-control(name='messagemvd', required='')
              div.form-group
                button.btn(type='submit', value='Enviar') Enviar
  // CONTACT SECTION END
  // MAP SECTION START
  section.map-container
    #map-canvas
  // MAP SECTION END