extends ../layout/home.pug
block view
  // HEADER END

  #n2-ss-10-align.n2-ss-align
    .n2-padding
      #n2-ss-10.n2-ss-slider.n2-ow.n2-has-hover.n2notransition.n2-ss-load-fade(data-minfontsizedesktopportrait='1', data-minfontsizedesktoplandscape='1', data-minfontsizetabletportrait='1', data-minfontsizetabletlandscape='1', data-minfontsizemobileportrait='1', data-minfontsizemobilelandscape='1', style='font-size: 16px;', data-fontsize='16')
        .n2-ss-slider-1.n2-ss-swipe-element.n2-ow(style='')
          .n2-ss-slider-2.n2-ow
            .n2-ss-slider-3.n2-ow(style='')
              .n2-ss-slide-backgrounds
              
              .n2-ss-slide.n2-ss-canvas.n2-ow.n2-ss-slide-44(data-slide-duration='0', data-id='44', style='')
                .n2-ss-slide-background.n2-ow(data-hash='af60735f9e3b09bc4f2d9b74c5182f31', data-desktop='assets/FOTOS/IMG3.jpg', data-opacity='1', data-blur='0', data-mode='fill', data-x='50', data-y='50')
                  .n2-ss-slide-background-mask(style='')
                    img(title='', src='assets/FOTOS/IMG3.jpg', alt='')
                .n2-ss-layers-container.n2-ow(data-csstextalign='center', style='')
                  .n2-ss-section-outer(style='')
                    .n2-ss-layer.n2-ow.n2-ss-has-maxwidth(style='max-width: 1140px;overflow:;', data-csstextalign='inherit', data-desktopportraitmaxwidth='1140', data-tabletportraitmaxwidth='0', data-mobileportraitmaxwidth='0', data-cssselfalign='inherit', data-desktopportraitselfalign='inherit', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-pm='content', data-desktopportraitpadding='10|*|5|*|10|*|5|*|px+', data-tabletportraitpadding='10|*|5|*|10|*|5|*|px+', data-mobileportraitpadding='40|*|0|*|40|*|0|*|px+', data-desktopportraitinneralign='inherit', data-tabletportraitinneralign='left', data-mobileportraitinneralign='inherit', data-type='content', data-rotation='0', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-plugin='rendered')
                      .n2-ss-section-main-content.n2-ss-layer-content.n2-ow(style='padding:0.625em 0.3125em 0.625em 0.3125em ;', data-verticalalign='center')
                        .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJsb29wUmVwZWF0U2VsZk9ubHkiOm51bGwsImluIjpbeyJuYW1lIjoiUmlnaHQgZmFkZSIsIm9wYWNpdHkiOjAsIngiOi00MDB9XX0=', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='80', data-plugin='rendered')
                          .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                            p.n2-font-e26f9fc0e4aacb0192eeeef97f36705d-paragraph.n2-ow 
                        .n2-ss-layer.n2-ow(style='margin:0.234375em 0.234375em 0.234375em 0.234375em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJsb29wUmVwZWF0U2VsZk9ubHkiOm51bGwsImluIjpbeyJuYW1lIjoiUmlnaHQgZmFkZSIsImRlbGF5IjowLjE1LCJvcGFjaXR5IjowLCJ4IjotNDAwfV19', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='80', data-mobileportraitfontsize='70', data-plugin='rendered')
                          .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                            p.n2-font-aa1ba26b83562056399325c10147b659-paragraph.n2-ow 
                        .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJsb29wUmVwZWF0U2VsZk9ubHkiOm51bGwsImluIjpbeyJuYW1lIjoiUmlnaHQgZmFkZSIsImRlbGF5IjowLjMsIm9wYWNpdHkiOjAsIngiOi00MDB9XX0=', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='70', data-plugin='rendered')
                          .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                            p.n2-font-d71adf8a9c102589b064fa239972a143-paragraph.n2-ow TELECOMUNICACIONES
                        .n2-ss-layer.n2-ow(style='margin:0.1875em 0.1875em 0.1875em 0.1875em ;overflow:visible;', data-pm='normal', data-desktopportraitmargin='03|*|03|*|03|*|03|*|px+', data-desktopportraitheight='0', data-desktopportraitmaxwidth='0', data-cssselfalign='left', data-desktopportraitselfalign='left', data-tabletportraitselfalign='center', data-mobileportraitselfalign='center', data-type='layer', data-rotation='0', data-animations='eyJzcGVjaWFsWmVybyI6MCwidHJhbnNmb3JtT3JpZ2luIjoiNTB8Knw1MHwqfDAiLCJpbiI6W3sibmFtZSI6IlJpZ2h0IGZhZGUiLCJkZWxheSI6MC40NSwib3BhY2l0eSI6MCwieCI6LTQwMH1dfQ==', data-desktopportrait='1', data-desktoplandscape='1', data-tabletportrait='1', data-tabletlandscape='1', data-mobileportrait='1', data-mobilelandscape='1', data-adaptivefont='1', data-desktopportraitfontsize='100', data-mobileportraitfontsize='80', data-plugin='rendered')
                          .n2-ow.n2-ow-all.n2-ss-desktop.n2-ss-mobile.n2-ss-tablet
                            p.n2-font-e26f9fc0e4aacb0192eeeef97f36705d-paragraph.n2-ow Proyectos en Telecomunicaciones
                        
                 
  // PAGE CONTENT START
  section.page-content.detail-page
    .container.page-content-wrapper
      .row
        .col-sm-10.col-sm-push-1
          .detail-page-feature
            //img(src='assets/images/soluciones/telecomunicaciones.jpg', alt='services-detail-img')
            p 
                | 
            ul
                li
                    | Diseño de radioenlaces, instalacion de torres y pruebas de enlaces.
                li
                    | Diseño, instalaciones y pruebas de sisteas de cableado estructurado para edificaciones.


